/* @import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-ffffff font-bellafair bg-mobileBackground md:bg-tabletBackground lg:bg-desktopBackground bg-cover bg-no-repeat text-base;
  }
}
